
/*
Fonts

font-family: 'Raleway', sans-serif;
font-family: 'Coming Soon', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Waiting for the Sunrise', cursive;

*/

#Slideshow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: none;
    margin-left: none;
    margin-top: none;
    margin-right: none;
    margin: none;

    z-index: 0;

    overflow: hidden;
    -webkit-box-shadow: inset 0 0 250px 60px #000000;
    -moz-box-shadow: inset 0 0 250px 60px #000000;
    box-shadow: inset 0 0 250px 60px #000000;
}

.slide {
    position: absolute;
    margin: none;
    width: 100%;
    min-height: 100%;

    
}

#ExpansionButton {
    padding: none;
    position: fixed;
    width: 5%;
    max-width: 75px;
    left: 47.5%;
    bottom: 10px;

    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    
    opacity: .7;

    background-color: none;
    background:none;
    border: none;
    

    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    z-index: 4;
   
}

#ExpansionButton img {
    width: 100%;
}

#ExpansionButton:hover {
    opacity: 1;
}


/*Slide Contents*/

#SlideContent {
    display: inline-block;
    z-index: 1;

    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.Contents {
    z-index: 3;
    width: 100%;
    height: 100%;
    overflow: hidden;
}




.Contents .HeaderBox {
    /*position: fixed;
    display: block;
    display: table;
    align-self: center;
    text-align: center;

    margin: auto;
    z-index: 3;*/


    margin-left: auto; margin-right: auto;
    position: fixed;
    width: 100%;
    left: 0; right: 0;

    top: 20%;

    opacity: 0;

    text-align: center;
}

.Contents h3 {
    margin: 0;
    color: white;
    font-size: 75px;
    font-family: 'Waiting for the Sunrise', cursive;

    line-height: 85%;

    text-shadow: 2px 2px 8px black;
}

.Contents h3 .subtitle {
    color: white;
    font-size: 32px;
    font-weight: 300;
    font-family: 'Shadows Into Light', cursive;
}

.ContentBox {
    position: fixed;
    text-align: justify;

    margin-left: 4vw;
    margin-right: 4vw;

    width: 90%;
    left: 0px;
    top: 100%;
    bottom: 7vh;

    padding-left: 1vw;
    padding-right:1vw;

    overflow-y: auto;
}
.ContentBox p {
    color: white;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}




/*Scrollbar Settings*/

::-webkit-scrollbar {
    width: 10px;
    margin-left: 10px;
    
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .7);
}

::-webkit-scrollbar-thumb {
    /*visibility: hidden;*/
    background-color: rgba(255, 255, 255, .7);
    border-radius: 10px;
}

/*Highlight Settings*/

::selection {
  background: magenta; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: magenta; /* Gecko Browsers */
}

#Initial {
    color: white;
    font-size: 32px;
    font-family: 'Waiting for the Sunrise', cursive;
    text-shadow: 2px 2px 8px black;
}